@media screen {
    /* media query related*/
    .desktopScreen {
        display: none;
     }
     .tabletScreen {
        display: none;
     }
     .laptopScreen {
        display: none;
     }

     .tvScreen {
        display: none;
     }
     .mobileScreen {
        display: flex;
        flex-direction: row;
     }
    /*header*/
    header {
        width: 100%;
    }
    .top {
        margin: 20px;
    }
     .logo img{
        width: 120px;
        height: 27px;
     }

     .loginIcon, .headerSearch {
        margin-right: 10px;
     }

     i {
        color: #6a6a6a;
     }

     /*footer*/
     .wrapFooter {
        font-size: 0.78rem;
     }
     .wrapFooter span{
        font-size: 1.25rem;
     }
     
     .rights span {
        font-size: .7rem;
     }

     .logoFooter {
        width: 70px;
        height: 30px; 
     }

    /*Landing Page*/

    .mainLanding {
         margin: 0 30px 0 30px;
    }

    /* first section */
    .intro {
        margin-top: 115px;
    }
    .intro h1 {
        font-size: 2rem;
        width: 14ch;
    }
.intro p {
    margin-top: 30px;
    font-size: 1rem;
}
    .intro button {
        width: 150px;
        height: 50px;
        font-size: 1rem;
        margin-top: 50px;
    }
    /* second section*/
    .wrapTopSellers {
        flex-direction: column;
    }
     .topProduct {
        flex-direction:row;

    }

    .topProduct h2 {
        font-size: 1.25rem;
        align-self: center;
    }

    .topProduct button {
        width: 120px;
        height: 40px;
        font-size: 0.9rem;
    }
    .bottomProduct {
        flex-direction: column;
    }

    .leftProduct h3 {
        font-size: 1rem;
        display: flex;
    }

    .rightProduct {
        margin-top: 50px;
    }

    .boxProduct {
        max-width: 100%;

        align-self: center;
        display: flex;
        justify-content: center;
        height: 300px;
    }

    .anyProduct {
        align-self: center;
        width: 100%;
        height: 100%;
    }

    /* third section */
    .wrapTopSellers {
        row-gap: 50px;
        width: 100%;
        align-items: self-start;
    }
    
    .GPUS, .CPUS, .RAMS, .MOTHERBOARD {
        width: 100%;
        height: 200px;
        margin-bottom: 50px;
    }

    .box {
        width: inherit;
    }

    .boxSellers {
        width: 10%;
    }

    /*fourth section*/
    .desktopScreen {
        display: none;
    }
    .reviews h3 {
        text-align: left;
    }
    .boxReview {
        width: 100%;
        height: 200px;
    }

    .reviews {
        margin-bottom: 30px;
    }
    /*fifth section*/

    .paymentMethods {
        margin-top: 10px;
    }
    .paymentMethods span {
        font-size: 2rem;
    }
}