*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family:'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}


body{
    display: block;
    background-color: black;
    color: white;
}

img, video {
    width: 100%;
    object-fit: contain;
    height: 100%;
}


.anyProduct {
    background-color: darkgrey;
}
.box {
    background-color: darkgrey;
}

.boxReview {
    background-color: darkgrey;
}
.mainLanding {
    margin: 0px 100px 0px 100px; /* So that they are align*/
}

/*header*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 30px 10px 70px;
    justify-content: space-between;
}

.btns {
    display: flex;
    align-items: center;
}
.logo:hover {
cursor: pointer;
}
.search {
    margin-left: 45px;
}
.searchForm{
    display:flex;
    align-items: center;
}

.searchField {
    width: 523px;
    height: 36px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #6a6a6a;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 1rem;
    color: #6A6A6A;
}
/*
searchField::placeholder {
      color: #6a6a6a;
} */


.search_Field input[type = "text"]::selection{
    background: transparent;
}

.search_Field input[type = "text"]:focus{
    outline-style: none;
    box-shadow: none;
}
.searchBtn{
    width: 51px;
    height: 36px;
    border-radius:0 20px 20px 0;
    background-color: #6A6A6A;
}

.searchBtn:hover{
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  color: white;
  -webkit-text-fill-color: white !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important; 
} 

i {
    color: white;
}
.loginBtn, .signUpBtn {
   font-size: 20px;
   border: 1px solid white;
   border-radius: 20px;
   color: white;
   background-color: black;
   padding: 6px 32px 6px 32px;
}

.loginBtn:hover, .signUpBtn:hover{
    background-color: #004AAD;
   border: 1px solid #004AAD;
}
.loginBtn {
    margin-right: 2rem;
}
.Primary_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Primary_nav ul li  {
 display: flex;
 flex-direction: row;
 color: #6A6A6A;
}


.Primary_nav ul li a {
    text-decoration: none;
    color: #6a6a6a;
    margin-left:1rem;
    margin-right: 1rem;
}

.Primary_nav ul li a:hover {
    text-decoration:underline;
    color: white;
    cursor: pointer;
}

/*footer*/

.wrapFooter{
    Display: flex;
    flex-direction: column;
    margin: 20px 30px 10px 30px;
    border-top: 3px solid white;
    line-height: 2em;

}

.wrapFooter span{
    font-size: 2rem;
}
.wrapFooterTop {
    display: flex;
    flex-direction: row;
    margin-top: 30px
   
}

.topRightFooter{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}


.leftFooter {
   min-width: 50%;
}

.rightFooter {
   min-width: 50%;
}

.lowerRightFooter{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.company {
    min-width: 50%;
}

.contactUs{
    min-width: 50%;
}
.followUsFooter {
    min-width: 50%;
}

.logoFooter{
    min-width: 50%;
    margin: auto;
}

.rights  span{
    font-size: 1rem;
}

.logoFooter img {
    object-fit: contain;
    height: inherit;
}
/*Landing Page*/

/*first section*/
.intro {
    margin-top: 150px;
    margin-bottom: 150px;
}
.intro h1 {
    font-size: 4rem;
    width: 20ch;
    line-height: 1.2em;
}

.intro p {
    font-size: 2rem;
    margin-top: 100px;
}

.intro button {
    width: 332px;
    height: 94px;
    background-color: #004AAD;
    font-size: 2rem;
    color: white;
    border-radius: 50px;
    margin-top: 100px;
}

/* second section*/

/*top half of the section*/
.product {
    display: flex;
    flex-direction: column;
}

.topProduct {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.topProduct h2 {
    font-size: 2.125rem;
    font-weight: bold;
}

.topProduct button {
    width: 123px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 1.5rem;
}

/* Lower Half of the Section */

.bottomProduct {
    display: flex;
    flex-direction: row;
}

.bottomProduct h3{
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.leftProduct {
    min-width: 50%;
}

.rightProduct {
    min-width: 50%;
}


.boxProduct {
    width: 100%;
    height: 572px;
}

.anyProduct {
    width: 395px;
    /*background-color: white;*/
    height: inherit;
}

/* 3rd section */

.topSellers {
    margin-top: 150px;
    margin-bottom: 100px;
}
.topSellers h3 {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 120px;
}

.topSellers h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.wrapTopSellers {
    display: flex;
    flex-direction: row;
}

.GPUS, .CPUS, .RAMS, .MOTHERBOARD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*.box {
    width: 300px;
    height: 572px;
   /* background-color: white;
    margin-bottom: 50px;
}
*/

/*4th Section*/

.reviews {
   margin-top: 50px;
   margin-bottom: 200px;
}
.reviews h3{
    font-size: 2.125rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.wrapBoxReview {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.boxReview {
    width: 400px;
    height: 572px;
    /*background-color: white;*/
}

/*5th Section*/
.payment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.paymentMethods span {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 20px;
}

/*login and SignUp*/
.loginSignUpIcon {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

.facebookLogin , .googleLogin, .twitterLogin {
    margin: 0 20px 0 20px;
    width: 41px;
    height: 37px;
}

.facebookLogin i, .googleLogin i, .twitterLogin i{
    width: 100%;
    object-fit: contain;
}
.signInWith{
    margin-bottom: 30px;
}

/*login*/
.loginMain {
    display: flex;
    justify-content: center;
}
.loginWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px;
    border-radius: 30px;
    border: 1px solid white;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    width: 100%;
}

.password, .user {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.password i, .user i {
    width: 51px;
    height: 36px;
    border-radius:20px 0 0 20px;
    background-color: #6A6A6A;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginForm .loginBtn {
    margin-right: 0px;
    width: 70%;
    background-color: #004AAD;
    margin-bottom: 30px;
    border: transparent;
    border: 1px solid transparent;
}

.loginForm .loginBtn:hover {
    border: 1px solid #ffffff;
}

.user, .password {
    margin-bottom: 30px;
}
.logoSignUpLogin {
    width: 200px;
    height: 50px;
}

 .passwordField input[type="password"]::selection,.userField input[type="text"]::selection {
   background: transparent;
}

.passwordField input[type="password"]:focus,.userField input[type="text"]:focus {
    outline-style: none;
    box-shadow: none;
}

.passwordField, .userField, .emailField, .birthdayField, .genderOption {
    width: 100%;
    height: 36px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #6a6a6a;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 1rem;
    color: #6A6A6A;
}

.signUpBtnLogin {
    color: white;
    background-color: #004AAD;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 0.65rem;
    padding: 5px 15px 5px 15px;
}

/* Sign Up */

.signUpWrapper .logoSignUpLogin{
    margin-top: 30px;
}
.signUpMain {
    display: flex;
    justify-content: center;
}

.signUpInfo {
    margin-top: 50px;
}
.signUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
    height: 550px;
    border-radius: 30px;
    border: 1px solid white;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUpInfo {
    width: inherit;
    margin-bottom: 50px;
}

.signUp {
    display: flex;
}

.leftSignUp, .rightSignUp {
    width: 50%;
}

.rightSignUp {
    display: flex; 
    flex-direction: column;
    /*align-items: center;*/
}
.termsAndConditions {
    font-size: 1rem;
    font-weight: lighter;
    display: flex;
}

.emailSignUp {
    width: 100%;
}

.userSignUp , .passwordSignUp , .passwordSignUpConfirm , .birthday , .emailSignUp, .bDayGender  {
    display: flex;
}

.userSignUp i, .passwordSignUp i, .passwordSignUpConfirm i, .birthday i, .emailSignUp i, .birthday i {
    width: 51px;
    height: 36px;
    border-radius:20px 0 0 20px;
    background-color: #6A6A6A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.passwordSignUp , .userSignUp, .passwordSignUpConfirm, .emailSignUp, .bDayGender {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-bottom: 30px;
}

.termsAndConditions {
    margin-left: 30px;
    display: flex;
    align-items: center;
}
.birthday {
    width: 70%;
}

.gender {
    width: 25%;
    margin-left: 5%;
}

.genderOption {
    border-radius: 15px;
}

/*.termsAndConditionslabel {
    margin: 20px 0 10px 20px;
}

*/
.signInWith {
    align-self: center;
}

/*.termsAndConditions input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.termsAndConditionslabel {
    position: relative;
    display: block;
    padding-left: 30px;
    cursor: pointer;
}

.termsAndConditionslabel::before {
    content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 0;
  display: block;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 3px;
  border: 1px solid #ffffff;
}


.termsAndConditionslabel::after {
    content: '';
  position: absolute;
  left: 7px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.termsAndConditions input[type="checkbox"]:checked + label[for="agreeOn"]::after {
    opacity: 1;
}
*/
.termsAndConditions input[type="checkbox"] {
    -webkit-appearance: none;
    width: 20%;
    height: 20px;
    margin-right: 10px;
    border-radius: 1px;
    background-color: transparent;
    border: 1px solid #ffffff;
}

.termsAndConditions input[type="checkbox"]:checked::after {
    content: '\2713';
    color: white;
    background-color: #004AAD;
    width: 100%;
}