*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family:'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}


body{
    display: block;
    background-color: black;
    color: white;
}

main {
    margin: 0px 130px 0px 130px; /* So that they are align*/
}

/*header*/
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 32px 30px 10px 70px;
    justify-content: space-between;
}
.logo:hover {
cursor: pointer;
}
.search {
    margin-left: 45px;
}
.searchForm{
    display:flex;
    align-items: center;
}

.searchField {
    width: 523px;
    height: 36px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #6a6a6a;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    padding-left: 1rem;
    color: #6A6A6A;
}
/*
searchField::placeholder {
      color: #6a6a6a;
} */


.search_Field input[type = "text"]::selection{
    background: transparent;
}

.search_Field input[type = "text"]:focus{
    outline-style: none;
    box-shadow: none;
}
.searchBtn{
    width: 51px;
    height: 36px;
    border-radius:0 20px 20px 0;
    background-color: #6A6A6A;
}

.searchBtn:hover{
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  color: white;
  -webkit-text-fill-color: white !important;
  -webkit-text-fill-color: white !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important; 
} 

i {
    color: white;
}
.loginBtn, .signUpBtn {
   font-size: 20px;
   border: 1px solid white;
   border-radius: 20px;
   color: white;
   background-color: black;
   padding: 6px 32px 6px 32px;
}

.loginBtn:hover, .signUpBtn:hover{
    background-color: #004AAD;
   border: 1px solid #004AAD;
}
.loginBtn {
    margin-right: 2rem;
}
.Primary_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Primary_nav ul li  {
 display: flex;
 flex-direction: row;
 color: #6A6A6A;
}


.Primary_nav ul li a {
    text-decoration: none;
    color: #6a6a6a;
    margin-left:1rem;
    margin-right: 1rem;
}

.Primary_nav ul li a:hover {
    text-decoration:underline;
    color: white;
    cursor: pointer;
}

/*footer*/

.wrapFooter{
    Display: flex;
    flex-direction: column;
    margin: 20px 130px 10px 130px;
    border-top: 3px solid white;
    line-height: 2em;

}

.wrapFooter span{
    font-size: 32px;
}
.wrapFooterTop {
    display: flex;
    flex-direction: row;
    margin-top: 30px
   
}

.topRightFooter{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
}


.leftFooter {
   min-width: 50%;
}

.rightFooter {
   min-width: 50%;
}

.lowerRightFooter{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.company {
    min-width: 50%;
}

.contactUs{
    min-width: 50%;
}
.followUsFooter {
    min-width: 50%;
}

.logoFooter{
    min-width: 50%;
    margin: auto;
}

.rights  span{
    font-size: 16px;
}

/*Landing Page*/

/*first section*/
.intro {
    margin-top: 150px;
    height: 400px;
}
.intro h1 {
    font-size: 4rem;
    width: 20ch;
    line-height: 1.2em;
}

.intro p {
    font-size: 2rem;
    margin-top: 100px;
}

.intro button {
    width: 332px;
    height: 94px;
    background-color: #004AAD;
    font-size: 2rem;
    color: white;
    border-radius: 50px;
    margin-top: 100px;
}

/* second section*/

/*top half of the section*/
.product {
    display: flex;
    flex-direction: column;
}

.topProduct {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.topProduct h2 {
    font-size: 2.125rem;
    font-weight: bold;
}

.topProduct button {
    width: 123px;
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 1.5rem;
}

/* Lower Half of the Section */

.bottomProduct {
    display: flex;
    flex-direction: row;
}

.bottomProduct h3{
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.leftProduct {
    min-width: 50%;
}

.rightProduct {
    min-width: 50%;
}


.boxProduct {
    width: 100%;
    height: 572px;
}

.anyProduct {
    width: 395px;
    background-color: white;
    height: inherit;
}

/* 3rd section */

.topSellers {
    margin-top: 150px;
    margin-bottom: 100px;
}
.topSellers h3 {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 120px;
}

.topSellers h4 {
    font-size: 1.5rem;
    font-weight: bold;
}
.wrapTopSellers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.GPUS, .CPUS, .RAMS, .MOTHERBOARD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box {
    width: 300px;
    height: 572px;
    background-color: white;
    margin-bottom: 50px;
}

/*4th Section*/

.reviews {
   margin-top: 50px;
   margin-bottom: 200px;
}
.reviews h3{
    font-size: 2.125rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.wrapBoxReview {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.boxReview {
    width: 400px;
    height: 572px;
    background-color: white;
}

/*5th Section*/

.payment {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.paymentMethods span {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
    border-bottom: 3px solid white;
    margin-bottom: 20px;
}





